.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10%;
}

.grid-item img {
    max-width: 100%;

    object-fit: cover;
    height: 100%;
}

.grid-item {
    object-fit: cover;
    background-color: wheat;
    border: 1px solid #ccc;
}


.main-title {
    margin-bottom: 5%;
}